<div class="card">
  <div class="card-title">Login</div>
  <div class="card-body">
    <form [formGroup]="loginForm" (submit)="loginUser(loginForm.value)" novalidate>
      <div class="form-group">
        <input type="text" id="email"
               [ngClass]="{ 'is-invalid': loginForm.get('email').touched && loginForm.get('email').invalid }"
               class="form-control" placeholder="Email Address" formControlName="email">
        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        <div class="invalid-feedback">
          <span *ngIf="loginForm.get('email').invalid">
            Please provide a valid email
          </span>
        </div>
      </div>
      <div class="form-group">
        <input type="text" id="password"
               [ngClass]="{ 'is-invalid': loginForm.get('password').touched && loginForm.get('password').invalid }"
               class="form-control" formControlName="password" placeholder="Password">
        <div class="invalid-feedback">
          <span *ngIf="loginForm.get('password').invalid">

            Please provide a valid password
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1"> Keep me logged</label>
        </div>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary btn-login">Login</button>
        <p class="text-danger login-error" *ngIf="loginError">
          <strong>Oh snap!</strong> {{ loginError }}.
        </p>
        <hr>
        <p>
          New User? <a routerLink="/auth/register">Register Now</a>
        </p>
      </div>
    </form>
  </div>
</div>
