<mat-card class="mw-400 mg-auto login-card">
  <form [formGroup]="loginForm" name="loginForm" novalidate (submit)="loginUser(loginForm.value)">
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="Email" formControlName="email">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" matInput formControlName="password" placeholder="Password">
    </mat-form-field>

    <button mat-button type="submit">Sign in</button>
  </form>
  <p>
    New User? <a routerLink="/auth/register">Register Now</a>
  </p>
  <span *ngIf="authService.user && authService.user.profile">
    Name: {{ authService.user.profile.name }} <br>
    Phone: {{ authService.user.profile.phone }} <br>
    <button type="button" (click)="logoutUser()">Logout</button>
  </span>

</mat-card>
